In [1]:
import mysql.connector
import pandas as pd 
import numpy as np 
from config import HOST, DATABASE, USERNAME, PASSWORD

C:\Users\chanks\AppData\Local\Temp\ipykernel_9196\916966793.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# connecting to grocery db

try:
    connection = mysql.connector.connect(
        host=HOST,
        database=DATABASE,
        user=USERNAME,
        password=PASSWORD
    )

    if connection.is_connected():
        print("Connected to MySQL database")

        # Your database operations go here

except mysql.connector.Error as err:
    print(f"Error: {err}")

# finally:
    # Close the connection in the finally block to ensure it's always closed
    #if 'connection' in locals() and connection.is_connected():
    #    connection.close()
    #    print("Connection closed")

Connected to MySQL database

In [3]:
cursor = connection.cursor()

In [4]:
stores = ("SELECT * FROM STORE")
cursor.execute(stores)

In [5]:
store_data =[]
for i in cursor: 
    store_data.append(i)

In [6]:
col_names = [i[0] for i in cursor.description]

df = pd.DataFrame(store_data, columns = col_names)

In [7]:
df

   id                name                                 address
0   1          Fred Meyer                  3805 SE Hawthorne Blvd
1   2               Winco                     7979 SE Powell Blvd
2   3  US FOODS CHEFSTORE                      731 SE Stephens St
3   4         Trader Joes                       4121 NE Halsey St
4   5         Whole Foods                      2825 E Burnside St
5   6              Target                     3031 SE Powell Blvd
6   7  New Seasons Market                     1954 SE Division St
7   8              Costco  13130 SE 84th Ave, Clackamas, OR 97015
8   9          Fred Meyer                       6615 NE Glisan St
9  10  New Seasons Market                        3210 NE Broadway

In [8]:
# okay I have successfully queried data from the mysql db and stored it in a pandas dataframe
#let's formalize this process by creating a function

In [9]:
#making sure I know how to parameterize a query...while avoiding an sql injection
def table_grabber(table):
    
    query = "SELECT * from {}"
    query_ready = query.format(table)

    cursor.execute(query_ready)

    data =[] # empty list to dump queried data into
    for x in cursor: 
        data.append(x)
    
    col_names = [i[0] for i in cursor.description]

    df = pd.DataFrame(data, columns = col_names)

    return df

In [10]:
# my lovely tables 
stores = table_grabber("store")
trips = table_grabber("trips")
items = table_grabber("items")

In [14]:
#what is average cost per grocery trip ? 

trips['total_cost'].mean() 

#$ 40.20 -- this aligns with my intuition. As a child I would accompany my mom to buy groceries. Her budget was usually $40.

40.189756097560974

In [18]:
#how about average monthly grocery expenses? 

# I could do this easily in R with %>% and group_by(), but I need to refresh my pandas skills....

#first I need to make sure the date column in trips is a datetime object: 

trips.dtypes

id             int64
store_id       int64
date          object
total_cost    object
dtype: object

In [19]:
trips['date'] = pd.to_datetime(trips['date'])

In [23]:
trips.groupby(trips['date'].dt.strftime('%B'))['total_cost'].sum()

#dt.strftime is the accessor in pandas to grab a part of the datetime object.'%B' is the full month name
# here are some other options 
'''
    %Y: Year with century as a decimal number (e.g., 2022).
    %m: Month as a zero-padded decimal number (01, 02, ..., 12).
    %d: Day of the month as a zero-padded decimal number (01, 02, ..., 31).
    %H: Hour (00, 01, ..., 23).
    %M: Minute (00, 01, ..., 59).
    %S: Second (00, 01, ..., 59).
'''

# for example, the average per year: 

trips.groupby(trips['date'].dt.strftime('%Y'))['total_cost'].mean()

date
2023    39.411429
2024    41.866154
Name: total_cost, dtype: object

In [29]:
# group by week: 

trips.groupby(trips['date'].dt.strftime('%U'))['total_cost'].sum()

date
00    119.82
02     37.10
03    144.12
04     74.42
05    127.83
06     40.97
36     18.65
37     87.11
38    157.14
39     79.44
40    115.12
41     15.47
42     35.53
43     46.03
44      9.97
45    105.22
46     20.60
47    118.14
48     85.66
49     14.38
50     96.07
51     98.99
Name: total_cost, dtype: object

In [34]:
# How many trips per week on average do I go to the grocery store? 

trips.groupby(trips['date'].dt.strftime('%B'))['id'].count()

date
December     6
February     6
January      7
November     8
October      7
September    7
Name: id, dtype: int64

In [35]:
trips.count()

id            41
store_id      41
date          41
total_cost    41
dtype: int64