In [1]:
import mysql.connector
import pandas as pd 
import numpy as np 
from config import HOST, DATABASE, USERNAME, PASSWORD

C:\Users\chanks\AppData\Local\Temp\ipykernel_17684\916966793.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# connecting to grocery db

try:
    connection = mysql.connector.connect(
        host=HOST,
        database=DATABASE,
        user=USERNAME,
        password=PASSWORD
    )

    if connection.is_connected():
        print("Connected to MySQL database")

        # Your database operations go here

except mysql.connector.Error as err:
    print(f"Error: {err}")

# finally:
    # Close the connection in the finally block to ensure it's always closed
    #if 'connection' in locals() and connection.is_connected():
    #    connection.close()
    #    print("Connection closed")

Connected to MySQL database

In [4]:
cursor = connection.cursor()

In [11]:
stores = ("SELECT * FROM STORE")
cursor.execute(stores)

In [13]:
store_data =[]
for i in cursor: 
    store_data.append(i)

In [23]:
col_names = [i[0] for i in cursor.description]

df = pd.DataFrame(store_data, columns = col_names)

In [24]:
df

   id                name                                 address
0   2               Winco                     7979 SE Powell Blvd
1   3  US FOODS CHEFSTORE                      731 SE Stephens St
2   4         Trader Joes                       4121 NE Halsey St
3   5         Whole Foods                      2825 E Burnside St
4   6              Target                     3031 SE Powell Blvd
5   7  New Seasons Market                     1954 SE Division St
6   8              Costco  13130 SE 84th Ave, Clackamas, OR 97015
7   9          Fred Meyer                       6615 NE Glisan St
8  10  New Seasons Market                        3210 NE Broadway

In [26]:
# okay I have successfully queried data from the mysql db and stored it in a pandas dataframe
#let's formalize this process by creating a function

In [44]:
#making sure I know how to parameterize a query...while avoiding an sql injection
def table_grabber(table):
    
    query = "SELECT * from {}"
    query_ready = query.format(table)

    cursor.execute(query_ready)

    data =[] # empty list to dump queried data into
    for x in cursor: 
        data.append(x)
    
    col_names = [i[0] for i in cursor.description]

    df = pd.DataFrame(data, columns = col_names)

    return df

In [46]:
# my lovely tables 
stores = table_grabber("store")
trips = table_grabber("trips")
items = table_grabber("items")

    id  store_id        date total_cost
0    1         1  2023-09-07      18.65
1    2         2  2023-09-11      51.75
2    3         3  2023-09-12      35.36
3    4         4  2023-09-17      57.56
4    5         2  2023-09-19      77.13
5    6         5  2023-09-22      22.45
6    7         2  2023-09-27      79.44
7    8         6  2023-10-02      44.97
8    9         2  2023-10-07      70.15
9   10         1  2023-10-13      15.47
10  11         1  2023-10-15      20.06
11  12         2  2023-10-17      15.47
12  13         4  2023-10-25      46.03
13  14         7  2023-10-29       9.97
14  15         2  2023-11-05      60.22
15  16         2  2023-11-11      45.00
16  17         1  2023-11-17      20.60
17  18         8  2023-11-21      87.71
18  19         4  2023-11-25      14.45
19  20         8  2023-11-25      15.98
20  21         8  2023-11-27      29.77
21  22         1  2023-11-27       5.69
22  25         2  2023-12-01      50.20
23  26         8  2023-12-09      14.38
24  27         2  2023-12-11      45.12
25  28         8  2023-12-16      50.95
26  29         8  2023-12-19      10.99
27  30         8  2023-12-21      88.00
28  31         2  2024-01-03      44.19
29  32         8  2024-01-06      75.63
30  33         7  2024-01-18      31.32
31  34         9  2024-01-19       5.78
32  35        10  2024-01-23      18.81
33  36        10  2024-01-23      18.81
34  37         8  2024-01-24     106.50
35  38         1  2024-02-02      37.21
36  39         1  2024-02-02      37.21
37  40         8  2024-02-05      61.03